@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inconsolata&family=League+Spartan:wght@700&family=Montserrat:wght@200;300;400;500;700&family=Poppins&family=Raleway:wght@400;800;900&display=swap');

.recent-text{
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.8;
}

.git{
    color: #ffffff;
}
.demo{
    color: #080a17;
}
.project-cards{
    width: 75%;
    height: auto;
    padding: 1.2rem;
    background: #7351c41c;
    border-radius: 30px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: 200ms ease-in;
}
.project-cards:hover{
    transform: scale(1.05);
    border: 1px solid #7351c4;
}



.project-card-img{
    max-width: 100%;
    max-height: 50%;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.project-title{
    text-align: left;
    font-family: 'Neue Machina', sans-serif;
    font-size: 1.5rem;
    /* color: #fff; */
    opacity: 0.8;
}

.project-my-buttons{
    
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.2rem;
    justify-items: center;
    margin-bottom: 20vh;
}



@media screen and (max-width: 1200px) {
    .portfolio__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2.2rem;
        justify-items: center;
    }
    
}

@media screen and (max-width: 900px) { 
    .portfolio__container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2.2rem;
        justify-items: center;
    }


 }

@media screen and (max-width: 600px) { 
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 2.2rem;
    }


 }



 @media screen and (max-width: 300px) { 
    .projects-text{
        font-size: 3.5rem;
    }
}