@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inconsolata&family=League+Spartan:wght@700&family=Montserrat:wght@200;300;400;500;700&family=Poppins&family=Raleway:wght@400;800;900&display=swap');

@font-face {
  font-family: Neue Machina;
  src: url(./fonts/NeueMachina/NeueMachina-Ultrabold.otf);
}


:root{
  --transition: all 400ms ease;
  /* --color-green: #a00f; */
  /* --color-green: #8a6fda; */
  --color-main: #11110f;
  --color-bg: #ff9904;
  --color-mix: #11110f;
  --active-color: #3D0000;
  --color-light: rgba(255,255,255,0.6);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', "sans-serif";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.white-content {
  background: #e4e4e4;
  color: #000;
}
.dark-content{
  background-color: #080a17;
  color: white!important;
}
.container{
  width: 80%;
  margin: auto;
}
.btn{
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-family: 'Poppins', "sans-serif";
  font-size: 1.2rem;
  border-color: transparent;
  transition: all 0.5s ease-in;
}
.btn:active{
  transform: scale(0.5);
}
.btn-dark{
  background-color: var(--color-light)!important;
  color: var(--color-main)!important;
}
.btn-light{
  background-color: var(--color-mix)!important;
  color: var(--color-light)!important;
}

.para{
  font-size: 1.2rem;
  opacity: 0.8;
}
.head{
  font-size: 1.5rem;
  opacity: 0.8;
}
.heading{
  font-family: 'Neue Machina', sans-serif;
    font-size: 5rem;
    margin-top: 1rem;
}
.marquee{
  font-size: 5rem;
  font-weight: bolder;
  text-transform: uppercase;
}


a{
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 900px) {
  .name{
    font-size: 10rem!important;
    top: 2%!important;
  }
  .pos1{
    top: 2%!important;
    left: 0%!important;
  }
  .pos2{
    top: 9%!important;
    right: 0%!important;
  }
  .marquee{
    font-size: 3rem!important;
  }
}


@media screen and (max-width: 570px) {
  .name{
    font-size: 6rem!important;
    top: 6%!important;
  }
  .overImage{
    width: 100%!important;
  }
  .about-me{
    font-size: 3rem!important;
    width: 90%!important;
    padding: 10px 0 10px 0;
  }
  .project-cards{
    width: 90%!important;
  }
  .heading{
    font-size: 2.5rem!important;
  }
  .pos1{
    top: 2%!important;
    left: 0%!important;
  }
  .pos2{
    top: 9%!important;
    right: 0%!important;
  }
  .navbar{
    width: 65%!important;
  }
}